{% extends 'core/base.html' %}
{% block title %}Certificates of {{ executive.first_name }} {{ executive.last_name }}{% endblock %}

{% block content %}

    <h1>Certificates of {{ executive.first_name }} {{ executive.last_name }}</h1>
    <a href="{% url 'executives:certificate_add' pk=executive.pk %}" class="button-like">Add certificate</a>

    {% if certificates %}
        {% for certificate in certificates %}
        <div class="section">
            <p>Name: {{ certificate.name }}</p>
            <p>Organization: {{ certificate.organization }}</p>
            <p>{{ certificate.start_date }} - {{ certificate.end_date }}</p>
            <a href="{% url 'executives:certificate_edit' pk=executive.pk certificate_pk=certificate.pk %}" class="button-like edit-button">Edit certificate</a>
            <a href="{% url 'executives:certificate_delete' pk=executive.pk certificate_pk=certificate.pk %}" class="button-like delete-button">Delete certificate</a>
        </div>
        {% endfor %}
    {% else %}
        <p>Executive doesn't have certificates yet.</p>
    {% endif %}

    <div>
        <a href="{% url 'executives:detail' pk=executive.pk %}" class="button-like back-button">Back to executive</a>
    </div>

{% endblock %}