{% extends 'core/base.html' %}
{% block title %}Add certificate for {{ executive.first_name }} {{ executive.last_name }}{% endblock %}

{% block content %}
<h1>Add certificate for {{ executive.first_name }} {{ executive.last_name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button-like">Submit</button>
</form>

<div>
    <a href="{% url 'executives:detail' pk=executive.pk %}" class="button-like back-button">Back to executive</a>
</div>

{% endblock %}