{% extends 'core/base.html' %}
{% block title %}Position consent for {{ executive.first_name }} {{ executive.last_name }}{% endblock %}

{% block content %}

    <h1>Position consent for {{ executive.first_name }} {{ executive.last_name }}</h1>
    <a href="{% url 'executives:position_consent_add' pk=executive.pk %}" class="button-like">Add position consent</a>

    {% if position_consents %}
        {% for position_consent in position_consents %}
            <div class="section">
                <p>Issue date {{ position_consent.issue_date }}</p>
                <p>Protocol number {{ position_consent.protocol_number }}</p>
                <a href="{% url 'executives:position_consent_edit' pk=executive.pk position_consent_pk=position_consent.pk %}" class="button-like edit-button">Edit position consent</a>
                <a href="{% url 'executives:position_consent_delete' pk=executive.pk position_consent_pk=position_consent.pk %}" class="button-like delete-button">Delete position consent</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Executive doesn't have position_consent yet.</p>
    {% endif %}

    <div>
        <a href="{% url 'executives:detail' pk=executive.pk %}" class="button-like back-button">Back to executive</a>
    </div>

{% endblock %}